@import url(/fonts/fonts.css);
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Georgia';
}

#header {
  background: #290000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

#header hr {
  margin: 0 auto;
  height: 5px;
  border: 0;
  background-color: #76c38f;
}

.contanir {
  max-width: 960px;
  margin: 0 auto;
}

.padding {
  padding: 42px 0px 20px 0px;
}

#header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

#header ul li {
  float: left;
  font-family: 'Georgia';
  font-size: 13px;
  font-weight: 300;
  padding: 10px 20px;
}

#header ul li:hover {
  background: #76c38f;
  border-radius: 4px;
}

#header ul li a {
  text-decoration: none;
  color: #fff;
}

#header ul li a:active {
  color: #fff;
}

#slider img {
  width: 100%;
  display: block;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-gap {
  padding-top: 60px;
}

.red-bg {
  background-color: #660000;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services ul li {
  width: 225px;
  float: left;
  margin-right: 20px;
}

.services ul li:last-child {
  margin-right: 0px;
}

.service-iner {
  background-color: #fff;
  padding: 20px 30px;
  max-width: 225px;
}

.service-iner img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}

.service-iner h1 {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}

.service-iner p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #333;
  font-size: 12px;
}

.clear {
  clear: both;
}

.service-iner:hover {
  background-color: #76c38f;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.service-iner:hover h1 {
  color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.service-iner:hover p {
  color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.latest-work {
  text-align: center;
  position: relative;
  z-index: 1;
}

.latest-work h1 {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  margin: 0;
  border-radius: 4px;
  display: inline-block;
}

.latest-work h1::before {
  content: "";
  position: absolute;
  top: 56%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  z-index: -1;
}

.latest-product {
  padding-bottom: 40px;
}

.latest-product ul {
  padding: 20px 0;
  list-style: none;
}

.latest-product ul li {
  width: 290px;
  border: 5px solid #fff;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  position: relative;
}

.latest-product ul li img {
  display: block;
}

.work-name {
  background-color: #333;
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  font-size: 14px;
}

.latest-product ul li:hover {
  border: 5px solid #76c38f;
}

.latest-product ul li:hover div {
  display: none;
}

.latest-product ul li:nth-child(3) {
  margin-right: 0;
}

.latest-product ul li:nth-child(6) {
  margin-right: 0;
}

.p-bt {
  padding-bottom: 30px;
}

#footer {
  background-color: #333;
  padding: 40px 0 0 0;
}

.blog {
  width: 225px;
  margin-right: 20px;
}

.blog h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.blog label {
  color: #76c38f;
  font-size: 13px;
}

.blog span {
  color: #979797;
  font-size: 10px;
  font-weight: 400;
}

.blog p {
  font-size: 13px;
  color: #979797;
  line-height: 1.7;
}

.blog a {
  color: #76c38f;
  text-decoration: none;
  font-size: 13px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quick-links {
  width: 225px;
  margin-right: 20px;
}

.quick-links h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li {
  font-size: 13px;
  padding: 10px 0;
  border-bottom: 1px solid #404040;
}

.quick-links ul li a {
  text-decoration: none;
  color: #76c38f;
}

.tweets {
  width: 225px;
  margin-right: 20px;
}

.tweets h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.tweets p {
  font-size: 13px;
  color: #979797;
  line-height: 25px;
}

.tweets p a {
  color: #76c38f;
  font-size: 13px;
  text-decoration: none;
}

.contct-form {
  width: 225px;
}

.contact-form h4 {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.contact-form {
  width: 225px;
}

.contact-input .form-control {
  padding: 12px 8px;
  border-radius: 8px;
  color: #979797;
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  width: 93%;
  background-color: #222;
  margin-bottom: 10px;
}

.contact-input .form-control:focus {
  border: none;
  outline: none;
}

.primery-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: #76c38f;
  cursor: pointer;
}

.domain {
  color: #fff;
  font-size: 13px;
}

.copy-hr {
  margin-top: 30px;
  margin-bottom: 2px;
  border: 1px solid #000;
  background: #000;
}

.copy-right {
  background: #272727;
  padding: 25px 0;
}

.template {
  float: right;
  color: #fff;
  font-size: 13px;
}

#wrap {
  background-color: #ddd;
}

#slider {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 106px 0 0 0;
}

.slide-item img {
  width: 100%;
}

.nav {
  position: relative;
  float: right;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: 13px;
  font-weight: 400;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1024px) {
  #slider img {
    height: 450px;
  }
}

@media only screen and (max-width: 999px) and (min-width: 768px) {
  #slider img {
    height: 450px;
  }
  .padding {
    padding: 20px !important;
  }
  .services ul li:nth-child(3) {
    margin-right: 0px;
  }
  .services ul li {
    margin-bottom: 20px;
  }
  .contanir {
    padding: 0 20px;
  }
  .latest-product ul li {
    width: 330px;
  }
  .latest-product ul li img {
    display: block;
    width: 100%;
  }
  .latest-product ul li:nth-child(2) {
    margin-right: 0px;
  }
  .latest-product ul li:nth-child(4) {
    margin-right: 0px;
  }
  .latest-product ul li:nth-child(3) {
    margin-right: 30px;
  }
  .blog, .quick-links, .tweets, .contact-form {
    width: 47%;
  }
  #slider {
    padding: 84px 0 0 0;
  }
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 12px;
  }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #290000;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    right: 0px;
  }
  .nav > .nav-links > a {
    display: block;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(50vh - 50px);
    overflow-y: auto;
    width: 280px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #slider {
    padding: 84px 0 0 0;
  }
  #slider img {
    height: 150px;
  }
  .services ul li:nth-child(3) {
    margin-right: 0px;
  }
  .services ul li {
    margin-bottom: 20px;
    width: 100%;
  }
  .service-iner {
    max-width: 100%;
  }
  .contanir {
    padding: 0 20px;
  }
  .latest-product ul li {
    width: 98%;
  }
  .latest-product ul li img {
    display: block;
    width: 100%;
  }
  .latest-product ul li:nth-child(2) {
    margin-right: 0px;
  }
  .latest-product ul li:nth-child(4) {
    margin-right: 0px;
  }
  .latest-product ul li:nth-child(3) {
    margin-right: 30px;
  }
  .blog, .quick-links, .tweets, .contact-form {
    width: 100%;
  }
  .domain, .template {
    font-size: 10px;
  }
  .template {
    margin-top: 4px;
  }
  .padding {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */